@page "/addrundata"
@using RunningBlazor.Shared.Services
@using RunningBlazor.Shared.Running
@inject IDataFactory<RunData> DataFactory

<PageTitle>Add Run Data</PageTitle>

<h1>Hello, world!</h1>

@foreach(var item in datas)
{
    <p>Value: @item.Minutes</p>
}

@code {
    private IReadOnlyList<RunData> datas
    {
        get
        {
            return DataFactory.GetAll();
        }
    }
}