@page "/running"
@using RunningBlazor.Shared.Running
<PageTitle>Data</PageTitle>

<h1>Data</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Miles</th>
                <th>Speed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.Minutes</td>
                    <td>@item.Miles</td>
                    <td>@item.Speed.ToString("N")</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <NavLink href="addrundata">
                        <button class="btn btn-primary">Add Data</button>
                    </NavLink>
                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    private RunData[]? data = null;

    protected override async Task OnInitializedAsync()
    {
        data = [
            new()
            {
                Date = new(2025,3,16),
                Feet = 5280,
                Milliseconds = 20 * 60 * 1000
            },
            new()
            {
                Date = new(2025,3,17),
                Feet = 5280 * 3,
                Milliseconds = 25 * 60 * 1000
            }
        ];
    }
}
